main {
    position:relative;
    left:300px;
}

section {
    display:block;
    position: relative;
    left:50px;
}
h2, p, button, ol, h4 {
    font-family: 'Alkatra', cursive;
}
.quiz-instructions {
    font-size: 25px;
    display:inline-block;
    width:700px;
}
.questions p {
    font-weight:bold;
    font-size: 30px;
}
li {
    margin:10px;
}
button {
    font-size: 25px;
    background-color: aqua;
    border-radius: 5px;
}
button:hover {
    background-color: grey;
    cursor:grab;
}
h4 {
    font-size:25px;
    background-color: aqua;
    width:fit-content;
    padding:10px;
    border-radius:5px;
    border-style: solid, 10px, black;
}