main {
    position:relative;
    left:400px;
}

section {
    display:block;
    position: relative;
    left:100px;
}
h2, p, button, ol {
    font-family: 'Alkatra', cursive;
}
.quiz-instructions {
    font-size: 25px;
    display:inline-block;
    width:700px;
}
.questions p {
    font-weight: bolder;
    font-size: 40px;
}
li {
    margin:10px;
}
button {
    font-size: 25px;
    background-color: aqua;
    border-radius: 5px;
}
.question-section {
    display:none;
}

.show {
    display:block;
}
